<<<<<<< HEAD
<<<<<<< HEAD
@import "tailwindcss";
=======
=======
>>>>>>> df40efa904236ea4ee6d41cc144800c2595d2801
@import "tailwindcss";

.App {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
<<<<<<< HEAD
  }
>>>>>>> df40efa904236ea4ee6d41cc144800c2595d2801
=======
  }
>>>>>>> df40efa904236ea4ee6d41cc144800c2595d2801
